#output {
    height:40em;
    overflow:auto;
    border-width:thin;
    border-style:solid;
    margin-top:0.5em;
    padding-top:0.5em;
    padding-left:0.5em;
    line-height:1.3em;
}

.test-text {
    margin-top:0.2em;
    margin-bottom:0.2em;
}

label {
    margin-right:0.5em;
    margin-top: 3px;
}

#output p {
    margin:0;
    padding:0;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.indeterminate {
    color: orange;
}
